.Rproj.user
.Rhistory
.RData
meta.txt
todo!_fieldbooks.txt
todo2.txt
valid_accs.txt
data
work_list.txt
work_list_variables.txt
Copia de ontology_cip_2015_11_08_short3.xlsx
Copia de ontology_cip_2015_11_08_short4.xlsx
meta.csv
todo_fieldbooks.txt
